#error {
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 100vh;
  align-self:center;
  margin-left: 10%;
}
