/* reset styles  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: none;
  }
  /* General Styles */
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    /*Background Image*/
    background-image: url('gradient.jpeg');
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin-bottom: 100px;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    letter-spacing: 3px;
    font-family: "Nunito", sans-serif;
    text-align: center;
    
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }

  #home{
      align-items: center;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 15vh;
      /* background-color: violet; */
      align-self:center;
      margin-left: 10%;
  }

  .JoinUsBtn button{
      text-transform: uppercase;
      font-weight: bold;
      background-color: rgba(253, 253, 253, 0.788);
      margin: 1em 1em;
      width: 100%;
      padding: 10% ;
      border-radius: 40%;
  }

  .cta h1{
      color: #fff;
  }

  .cta h3{
      border-bottom: 4px solid white;
      padding-bottom: 2%;
  }

  